{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="content content-landing-page" id="main-content" tabindex="-1">
    <article class="text-center">
      <h1>Rebel Event Example</h1>
      <div data-netlify-identity-menu></div>
    </article>
  </main>
{% endblock %}
